<div class="py-5">
  <h2 class="text-center">マイプロフィール</h2>
</div>
<div class="row mb-4">
  <aside class="col-sm-4 offset-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, width: "120%", height: "120%" , class: "rounded img-fluid" %>
        <% else %>
          <img src="/noimage.jpg" class="mr-2 img-fluid" style="width: 120%, height: 120%" alt="">
        <% end %>
      </div>
      <% if current_user == @user %>
        <%= link_to 'プロフィール編集', edit_user_path(@user), class: "mb-2 text-center" %>
      <% end %>
    </div>
  </aside>
</div>